.Layout_system {
  color-scheme: light dark;
} 

.Layout_dark {
  color-scheme: dark;
}

.Layout_light {
  color-scheme: light;
}

.Layout {
  background-color: light-dark(var(--bg-gray), var(--black));
  flex: 1;
  overflow-y: auto;
}