nav {
  position: relative;
  width: 100%;
  font-size: 1.0rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.5rem;
  padding: 0 0rem;
  margin: 0 0 1rem;
  align-content: space-between;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}

nav a, nav a:visited {
  flex: 1;
  font-size: inherit;
  background: none;
  text-decoration: none;
  height: 60px;
  line-height: 3;
  padding: 0.5rem ;
  color: light-dark(var(--black), var(--beige) );
  min-width: 90px;
  text-align:  center;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

nav a:hover {
  background: none;
  border-bottom: 2px solid var(--accent-light);
}

nav a.active {
  border-bottom: 3px solid var(--accent-color);
}