html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  font-size: 100%;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  min-height: 100%;
  line-height: 1.4;
  font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 2rem auto;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  background-color: #363640;
  box-shadow: 0 3px 12px rgba(17, 17, 17, 0.8);
  color: #fff;
  padding: 0.5rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 3rem 0rem 3rem 3rem;
}

main {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

section {
  /*max-width: 400px;*/
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1rem 0;
  align-self: center;
}

label {
  display: block;
  margin-right: auto;
}

label input {
  display: block;
}

button {
  height: 2rem;
  min-width: 6rem;
  background-color: white;
  border: 2px solid #363640;
  font-weight: 700;
  margin: 0.5rem;
}

button.disabled, button:disabled {
  border: 2px solid #5e5e66;
  background-color: #fafafa;
}

nav {
  position: relative;
  width: 100%;
  padding: 0 0 0 0.5rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  line-height: 1.5rem;
  padding: 0 0;
  margin: 1rem 0;
  /*align-content: center;*/
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

nav a:first-child {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  font-weight: 300;
  align-self: flex-start;
  margin-right: auto;
}


nav a, nav a:visited {
  background: none;
  text-decoration: none;
  padding: 0 0.5rem;
  height: 2rem;
  color: hsla(0, 0%, 0%, 0.8);
  min-width: 100px;
  text-align:  center;
}

nav a:hover {
  background: none;
  border-bottom: 2px solid #f2999a;
}

nav a.active {
  border-bottom: 3px solid #DF0003;
}

.segment {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.snackbar {
  position: fixed;
  bottom: 10%;
  left: 50%;
  visibility: visible;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  color: white;
  background-color: #2f2f2f;
  border-radius: 3px;
  max-width: 80%;
  min-width: 300px;
  box-shadow: 0 3px 12px rgba(17, 17, 17, 0.8);
  opacity: 1;
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
}

.snackbar__hidden {
  visibility: hidden;
  opacity: 0;
}

.snackbar p {
  margin: auto 0;
}

.layer-4 {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}

.layer-5 {
  box-shadow: 0 3px 12px rgba(17, 17, 17, 0.8);
}

.primary {
  border-color: #DF0003;
  /*background-color: #DF0003;*/
}

.buttonContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
}

.settingsOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.grid {
  display: grid;
  /*grid-template-columns: auto;*/
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 11px);
  grid-template-columns: repeat(auto-fill, 11px);
  /*grid-auto-columns: 2px;*/
  column-gap: 4px;
  row-gap: 4px;
}

.cell {
  width: 11px;
  height: 11px;
  border: 1px solid rgb(27, 31, 35);
  border-radius: 2px;
  /*background-color: rgb(235, 237, 240);*/
}

.invisibleCell {
  width: 11px;
  height: 11px;
  background-color: red;
  visibility: hidden;
}